# Gradle
.gradle/
build/
out/
classes/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws/

# Eclipse
*.launch
.settings/
.metadata/
.classpath
.project
bin/

# VS Code
.vscode/

# Fabric
run/

# macOS
.DS_Store
